.navbar
{
  background-image: linear-gradient(0deg,#87805E,#fff,#87805E);
}

body{
  background-image: linear-gradient(90deg,#fff,#FDF6EC,#E3CAA5);
  text-align:center;
  font-family: Georgia;
}

.fa-brands
{
  margin:5px;
}
.intro-table
{
  margin:5% 7%;
  text-align: center;
}
.navbar-brand
{
  margin:auto 3%;
  font-size: 1.5rem;
  font-family: Georgia;
  color:#000;
}

.footer
{
  padding:5% 5%;
  background-image:linear-gradient(180deg,#fff,#B09B71);

}
.profile
{
  width:70%;
  border-radius: 100%;
}


.intro
{

  margin: 7% 5%;

}

 .H
{
  padding:3%;

}

.foot{
  margin:3% auto 5% auto;
}
.pic
{
  font-size:1.5rem;
  font-family: Georgia;
}

.postal
{
  margin-right:30px;
}

.post1
{
  margin-right:10px;
  color: black;
  text-decoration:none;
  font-size:1.1rem;
}

.post
{




}

hr
{
  text-align: center;
  border:dotted 10px #EAF6F6;
  border-bottom:none;
  color:#7F8487;
  width:4%;
}
.hobby
{
  text-align: center;
  background-image: linear-gradient(90deg,#fff,#87805E);
}
